{% extends "FTTUtilisateurBundle::layoutGlobal.html.twig" %}


        
        
        {% block body%}
            
             <style>
    #1 { border-radius: 90px; 
    padding-top: 20px}
    #2 { border-radius: 90px; 
    padding-top: 90px}
    #3 { border-radius: 90px; 
    padding-top: 120px}
    </style>
            
            <h1> Classement International </h1>
            {% set i=0 %}
        <table border="0"> 
            <tr style="width: 100%">
                {% for key,joueur in joueurs if i<3 %}

                    <td style="width: 5%">  <img id="{{i}}"  src="data:image/png;base64,{{ imagestroisJoueurs[key] }}" width="90px" height="150px" alt="" />
                    </td>
                    {% set i= i+1 %}


                        {% endfor %}
                        </tr>
                    </table>

                <table class="table table" colspan="2">
                        <thead>
                            <tr>
                                <th>
                                    Num
                                </th>
                                <th>

                                </th>
                                <th>
                                    Joueur
                                </th>
                                <th>

                                </th>
                                <th>
                                    Club
                                </th>
                               

                            </tr>
                        </thead>
                        <tbody>
                      
                                {% for key,joueur in joueurs %}

                                    <tr>
                                        <td>
                                                {{joueur.classementInternational}}
                                            </td>

                                            <td >
                                                <img class="img-responsive" src="data:image/png;base64,{{ imagesJoueurs[key] }}" width="50px" height="150px" alt="" />

                                            </td>


                                            <td >
                                                {{joueur.nomJoueur}}  {{joueur.prenomJoueur}}
                                            </td>
                                            <td width="2">
                                                <img class="img-responsive" src="data:image/png;base64,{{ imagesClubs[key] }}" width ="20px" alt="" />

                                            </td>
                                            <td>
                                                {{joueur.idClub.nomClub}}
                                            </td>
                                           

                                        </tr>
                                        {% endfor %}

                                        </tbody>
                                    </table>
                        

        {% endblock %}


        