{% extends "FTTUtilisateurBundle::layoutGlobal.html.twig" %}

{% block body %}
    {% for key,abitre in arbitre %}
        <div class="col-md-12 animated fadeInDown"   >
            <div class="well profile_view"  >
                <div class="col-xs-12 bottom text-center" style="background-color: #00B5F1;color: white;border-bottom-left-radius: 1em;border-top-left-radius: 1em">
                    <strong> <i class="fa fa-male"></i> 
                        {{abitre.idArbitre.nomUser}} {{abitre.idArbitre.prenomUser}}</strong>
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-5">
                    <div class="text-center" style="padding-top: 2%;padding-bottom: 8%">
                        <img class="img-thumbnail"  style="width: 85px; height: 110px;" alt="Embedded Image" src="data:image/png;base64,{{imagesArbitre[key]}}" >
                        <center>
                            <table align='right' width=90%  border='1'>
                                <tr>
                                    <td>&nbsp;Evenement.Match:&nbsp; </td>
                                    <td>&nbsp;{{abitre.idMatch.idEvenement.nomEvenement}}</td>
                                </tr>
                                <tr>
                                    <td>Date Match: </td>
                                    <td>&nbsp;{{abitre.idMatch.dateMatch| date('d/m/Y')}}</td>
                                </tr>
                                <tr>
                                    <td>Type Match: </td>
                                    <td>&nbsp;{{abitre.idMatch.typeMatch}}</td>
                                </tr>
                                <tr>
                                    <td>Joueur 1: </td>
                                    <td>&nbsp;{{abitre.idMatch.idJoueur1.nomJoueur}} {{abitre.idMatch.idJoueur1.prenomJoueur}}</td>
                                </tr>
                                <tr>
                                    <td>Joueur 2: </td>
                                    <td>&nbsp;{{abitre.idMatch.idJoueur2.nomJoueur}} {{abitre.idMatch.idJoueur2.prenomJoueur}}</td>
                                </tr>
                                {% if abitre.idMatch.idJoueur3 != null %}
                                    <tr>
                                        <td>Joueur 3: </td>
                                        <td>&nbsp;{{abitre.idMatch.idJoueur3.nomJoueur}} {{abitre.idMatch.idJoueur3.prenomJoueur}}</td>
                                    </tr>
                                {% endif %}
                                {% if abitre.idMatch.idJoueur4 != null %}
                                    <tr>
                                        <td>Joueur 4: </td>
                                        <td>&nbsp;{{abitre.idMatch.idJoueur4.nomJoueur}} {{abitre.idMatch.idJoueur4.prenomJoueur}}</td>
                                    </tr>
                                {% endif %}
                                <tr>
                                    <td>Stade: </td>
                                    <td>&nbsp;{{abitre.idMatch.idStade.idComplexe.nomComplexe}} {{abitre.idMatch.idStade.nomStade}} </td>
                                </tr>
                                <tr>
                                    <td>Note de l'arbitre: </td>
                                    <td>&nbsp;{{abitre.evaluationMatch}}/10<br></td>
                                </tr>
                            </table>
                        </center>
                    </div>
                </div>


            </div>
        </div>
        <div class="md-overlay"></div>
    {% endfor %}


    <div class="navigation">
        {{ knp_pagination_render(arbitre) }}
    </div>
{% endblock %}