<!DOCTYPE html>
<html lang="en">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Administration FTT </title>
        <!-- Bootstrap core CSS -->

        <link rel="shortcut icon" href="{{asset('img/icons/tennis.ico')}}">
        <link href="{{asset('dashboardStyle/css/bootstrap.min.css')}}" rel="stylesheet">
        <link href="{{asset('dashboardStyle/fonts/css/font-awesome.min.css')}}" rel="stylesheet">
        <link href="{{asset('dashboardStyle/css/animate.min.css')}}" rel="stylesheet">
        <!-- Custom styling plus plugins -->
        <link href="{{asset('dashboardStyle/css/custom.css')}}" rel="stylesheet">
        <link href="{{asset('dashboardStyle/css/icheck/flat/green.css')}}" rel="stylesheet">
        <link href="{{asset('dashboardStyle/css/editor/external/google-code-prettify/prettify.css')}}" rel="stylesheet">
        <link href="{{asset('dashboardStyle/css/editor/index.css')}}" rel="stylesheet">
        <!-- select2 -->
        <link href="{{asset('dashboardStyle/css/select/select2.min.css')}}" rel="stylesheet">
        <!-- switchery -->
        <link rel="stylesheet" href="{{asset('css/popup/component.css')}}" />
        <link href="{{asset('dashboardStyle/css/searchBar.css')}}" rel="stylesheet">
        <script src="{{asset('dashboardStyle/js/jquery.min.js')}}"></script>
    </head>


    <body class="nav-md">

        <div class="container body">


            <div class="main_container">

                <div class="col-md-3 left_col">
                    <div class="left_col scroll-view">

                        <div class="navbar nav_title" style="border: 0;">
                            <a href="#" class="site_title"><i class="fa fa-user-secret"></i> <span>&nbsp; &nbsp; &nbsp; &nbsp; FTT</span></a>
                        </div>
                        <div class="clearfix"></div>

                        {% block header1 %}

                        {% endblock %}
                        <br />

                        {% block menu %}
                        {% endblock %}
                        <!-- /menu footer buttons -->
                        <div class="sidebar-footer hidden-small">
                            <a data-toggle="tooltip" data-placement="top" title="Settings">
                                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                            </a>
                            <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                            </a>
                            <a data-toggle="tooltip" data-placement="top" title="Lock">
                                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                            </a>
                            <a data-toggle="tooltip" data-placement="top" title="Logout">
                                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                            </a>
                        </div>
                        <!-- /menu footer buttons -->
                    </div>
                </div>

                <!-- top navigation -->
                <div class="top_nav">

                    <div class="nav_menu">
                        <nav class="" role="navigation">
                            <div class="nav toggle">
                                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                            </div>

                            <ul class="nav navbar-nav navbar-right">
                                <li class="">
                                    <a href="javascript:;" class="fa fa-user" 
                                       data-toggle="dropdown" aria-expanded="false" 
                                       style="font-size: 3em">

                                        <span class=" fa fa-angle-down"></span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-usermenu animated fadeInDown pull-right">
                                        <li>
                                            <a
                                                {% if is_granted('ROLE_ARBITRE') %}
                                                    href="{{path('consulter_profil_arbitre')}}"
                                                {% elseif is_granted('ROLE_MEDECIN') %}
                                                    href="{{path('consulter_profil_medecin')}}"
                                                {% elseif is_granted('ROLE_RESPONSABLE') %}
                                                    href="{{path('consulter_profil_responsable')}}"
                                                {% elseif is_granted('ROLE_SUPER_ADMIN') %}
                                                    href="{{path('consulter_profil_admin')}}"
                                                {% endif %}>
                                                Profil</a>
                                        </li>   
                                        <li>
                                            <a href="{{path('ftt_utilisateur_homepage')}}" >Espace publique</a>
                                        </li>
                                        <li><a href="{{path('fos_user_security_logout')}}"><i class="fa fa-sign-out pull-right"></i> Deconnecter</a>
                                        </li>
                                    </ul>
                                </li>

                            </ul>
                        </nav>
                    </div>

                </div>
                <!-- /top navigation -->

                <!-- page content -->
                <div class="right_col" role="main">
                    <div class="">
                        <div class="page-title">
                            <div class="title_left">
                                <h3>Fédération Tunisienne De Tennis</h3>
                            </div>

                            <div class="title_right">
                                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                                    <div class="panel-heading">

                                        <div class="pull-right">
                                            <span class="clickable filter" data-toggle="tooltip" title="Recherche" data-container="body">

                                            </span>
                                        </div>
                                    </div>

                                    <div class="panel-body">
                                        <input type="text" class="form-control" id="dev-table-filter" data-action="filter" data-filters="#dev-table" placeholder="Recherche ..." />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"> </div>

                        <div class="row">

                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel " style=" background-color:white">
                                    <div class="x_title">
                                        <h2>Administration</h2>
                                        <div class="clearfix">
                                        </div>

                                    </div>


                                    {% block bodyAdmin %}
                                        <!--
                                       Edmouuuuuuuuu hnéééééééééééééééééééééé akahaaaaaaaaaaaaaww 
                                        
                                        
                                        matmessouuuuuuuuuuuuuuuuuuu chayyyyyyyyyyyyyyyyyyyyyyyyy e5eeeeeeeeeeerrrrrrrrrrrrrrrrr
                                        aaaaaaaaaaa
                                        
                                        biensur mouch ma3néha , il faut creer dautres pages twig et utiliser
                                        le block body , Voir lexemple
                                        -->
                                    {% endblock %}




                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- footer content -->
                    <footer>
                        <div class="copyright-info">
                            <p class="pull-right"> Fédération Tunisienne de tennis
                            </p>
                        </div>
                        <div class="clearfix"></div>
                    </footer>
                    <!-- /footer content -->

                </div>
                <!-- /page content -->
            </div>

        </div>

        <div id="custom_notifications" class="custom-notifications dsp_none">
            <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group">
            </ul>
            <div class="clearfix"></div>
            <div id="notif-group" class="tabbed_notifications"></div>
        </div>
        <script src="{{asset('dashboardStyle/js/table.js')}}"></script>
        <script src="{{asset('dashboardStyle/js/searchBar.js')}}"></script>
        <script src="{{asset('dashboardStyle/js/bootstrap.min.js')}}"></script>

        <!-- bootstrap progress js -->
        <script src="{{asset('dashboardStyle/js/progressbar/bootstrap-progressbar.min.js')}}"></script>
        <script src="{{asset('dashboardStyle/js/nicescroll/jquery.nicescroll.min.js')}}"></script>
        <!-- icheck -->
        <script src="{{asset('dashboardStyle/js/icheck/icheck.min.js')}}"></script>

        <script src="{{asset('dashboardStyle/js/custom.js')}}"></script>
        <script type="text/javascript" src="{{asset('dashboardStyle/js/autocomplete/countries.js')}}"></script>
        <script src="{{asset('dashboardStyle/js/autocomplete/jquery.autocomplete.js')}}"></script>
        <!-- pace -->
        <script src="{{asset('dashboardStyle/js/pace/pace.min.js')}}"></script>


        <script src="{{asset('js/popup/classie.js')}}"></script>
        <script src="{{asset('js/popup/modalEffects.js')}}"></script>
        <script>
            // this is important for IEs
            var polyfilter_scriptpath = '/js/';
        </script>
        <script src="{{asset('dashboardStyle/js/popup/cssParser.js')}}"></script>
        <script src="{{asset('dashboardStyle/js/popup/css-filters-polyfill.js')}}"></script>
        <script src="{{asset('dashboardStyle/js/cropping/cropper.min.js')}}"></script>
        <script src="{{asset('dashboardStyle/js/cropping/main.js')}}"></script>

        <script type="text/javascript" src="{{asset('dashboardStyle/js/moment/moment.min.js')}}"></script>
        <script type="text/javascript" src="{{asset('dashboardStyle/js/datepicker/daterangepicker.js')}}"></script>
        <script src="{{asset('dashboardStyle/js/switchery/switchery.min.js')}}"></script>

        <!-- PNotify -->
        <script type="text/javascript" src="{{asset('dashboardStyle/js/notify/pnotify.core.js')}}"></script>
        <script type="text/javascript" src="{{asset('dashboardStyle/js/notify/pnotify.buttons.js')}}"></script>
        <script type="text/javascript" src="{{asset('dashboardStyle/js/notify/pnotify.nonblock.js')}}"></script>


        <script src="{{asset('dashboardStyle/js/knob/jquery.knob.min.js')}}"></script>
    </body>





</html>
