{% extends "::layoutInscrit.html.twig" %}

{% block menu %}
          <!-- sidebar menu -->
          <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

              
              
            <div class="menu_section">
              <h3>General</h3>
              <ul class="nav side-menu">
                <li><a><i class="fa fa-home"></i> Accueil <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu" style="display: none">
                    <li><a href="#">A Changer</a>
                    </li>
                  </ul>
                </li>
                <li><a><i class="fa fa-edit"></i> Actualités <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu" style="display: none">
                    <li><a href="{{path('list_actualite')}}">Lister les Actualités</a>
                    </li>
                    <li><a href="{{path('ajouter_actualite')}}">Ajouter un article</a>
                    </li>
                  </ul>
                </li>
                <li><a><i class="fa fa-edit"></i> Comptes <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu" style="display: none">
                    <li><a href="{{path('list_users')}}">Lister les comptes</a>
                    </li>
                    <li><a href="{{path('list_users_en_att')}}">Valider les comptes</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
              
              
              
              
            <div class="menu_section">
              <h3>Gestion Des competitions</h3>
              <ul class="nav side-menu">
                <li><a><i class="fa fa-edit"></i> Matchs <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu" style="display: none">
                    <li><a href="{{path('list_matchsInfo')}}">Lister les matchs</a>
                    </li>
                    <li><a href="{{path('ajouter_matchInfo')}}">Ajouter des matchs</a>
                    </li>
                    <li><a href="{{path('List_match_sansScore')}}">Attribuer les resultats</a>
                    </li>
                    <li><a href="{{path('list_match_A_parier')}}">Choisir les matchs a parier</a>
                    </li>
                    <li><a href="{{path('AjouterTicket')}}">Ajouter des tickets</a>
                    </li>
                    
                  </ul>
                </li>
                <li><a><i class="fa fa-edit"></i> Joueurs <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu" style="display: none">
                    <li><a href="{{path('list_joueur')}}">Lister les joueurs</a>
                    </li>
                    <li><a href="{{path('ajouter_joueur')}}">Ajouter des joueurs</a>
                    </li>
                    <li><a href="{{path('list_carrieres_joueur')}}">Lister la carriere des joueurs</a>
                    </li>
                    <li><a href="{{path('list_carrieres_joueur_modification')}}">Modifer la carriere des joueurs</a>
                    </li>
                  </ul>
                </li>
                <li><a><i class="fa fa-edit"></i> Clubs <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu" style="display: none">
                    <li><a href="{{path('list_club')}}">Lister les clubs</a>
                    </li>
                    <li><a href="{{path('ajouter_club')}}">Ajouter des clubs</a>
                    </li>
                  </ul>
                </li>
                <li><a><i class="fa fa-edit"></i> Complexes <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu" style="display: none">
                    <li><a href="#">Lister les Complexes</a>
                    </li>
                    <li><a href="#">Ajouter des Complexes</a>
                    </li>
                  </ul>
                </li>
                <li><a><i class="fa fa-edit"></i> Stades <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu" style="display: none">
                    <li><a href="#">Lister les Stades</a>
                    </li>
                    <li><a href="#">Ajouter des Stades</a>
                    </li>
                  </ul>
                </li>
                <li><a><i class="fa fa-edit"></i> Evenements <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu" style="display: none">
                  <li><a href="{{path('list_events')}}">Lister les Evenements</a>
                    </li>
                    <li><a href="{{path('ajouter_events')}}">Ajouter des Evenements</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="menu_section">
              <h3>Autres</h3>
              <ul class="nav side-menu">
                <li><a><i class="fa fa-edit"></i> Dons <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu" style="display: none">
                  <li><a href="{{path('list_dons')}}">Lister les Dons</a>
                    </li>
                    <li><a href="{{path('ajouter_dons')}}">Ajouter des Dons</a>
                    </li>
                    <li><a href="{{path('attribuer_dons_club')}}">Atrribuer un Don </a>
                    </li>
                  </ul>
                </li>
                <li><a><i class="fa fa-edit"></i> Sessions de formations <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu" style="display: none">
                    <li><a href="#">Lister les Sessions</a>
                    </li>
                    <li><a href="#">Ajouter des Sessions</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="menu_section">
              <h3>Extra</h3>
              <ul class="nav side-menu">
                <li><a><i class="fa fa-file-pdf-o"></i> Archivage <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu" style="display: none">
                   <li><a href="{{path('archiveevents')}}">Archiver des évenements </a>
                    </li>
                    <li><a href="{{path('archiveactualite')}}">Archiver des actualités </a>
                    <li><a href="{{path('archiveMatch')}}">Archiver des Matchs </a>
                  </ul>
                </li>
                <li><a><i class="fa fa-play-circle"></i> Communications <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu" style="display: none">
                    <li><a href="{{path('ajouter_streaming_match')}}">Partager un lien d'un match</a>
                    </li>
                    <li><a href="{{path('list_reclamations')}}">Repondre aux emails</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>

          </div>
          <!-- /sidebar menu -->
{% endblock %}