
{% extends "FTTAdherentBundle::layoutAdherent.html.twig" %}

{% block body %}

    {% set pop = msg %}    
    {% if pop == 'pasDePoint' %}
        <script type="text/javascript">
            alert("Vous n'avez pas assez de point ");
        </script>
    {% elseif pop == 'pasDeSolde' %}
        <script type="text/javascript">
            alert(" Votre solde est insuffisant ");
        </script>
    {% endif %}

    <center>
        <marquee id="id1">
            <span onmouseover="getElementById('id1').stop();" onmouseout="getElementById('id1').start();">
                <h1 style="color:#88C425;" > Votre solde est : {{app.user.soldeAdherent}}DT</h1>
                <h1 style="color:#88C425;"> Vous avez {{app.user.pointsAdherent}} points </h1>
            </span>
        </marquee>

        <fieldset style="width:500px">

            <legend><h4>Acheter des points</h4></legend>

            <form method="POST">
                <table>
                    <tr>
                        <td><label for="solde">Solde : &nbsp;</label></td>
                        <td><input type="number" id="solde" name="solde" min="0" max="100" value="0" class="form-control"
                                   required="required" style="text-align: center" 
                                   onchange="actionAchat({{app.user.id}})" onkeyup="actionAchat({{app.user.id}})"/></td>
                    </tr>
                </table>
                1 DT = 1 Point
                <div id='achat'></div>

            </form>

        </fieldset>
        <br>
        <fieldset style="width:500px">

            <legend><h4>Vendre des points</h4></legend>

            <form method="POST" action="{{path('vente_point')}}">
                <table>
                    <tr>
                        <td><label for="point">Point : &nbsp;</label></td>
                        <td><input type="number" id="point" name="point" min="0" max="100" value="0" class="form-control"
                                   required="required" style="text-align: center" 
                                   onchange="actionVente({{app.user.id}})" onkeyup="actionVente({{app.user.id}})"/></td>
                    </tr>
                </table>
                1 Point = 1 DT
                <div id='vente'></div>
            </form>
        </fieldset>
    </center>

{% endblock %}
