
{% extends "FTTAdminBundle::layoutAdmin.html.twig" %}
{% block header1 %}
    {{ include('FTTAdminBundle::Default/Includes/header.html.twig') }}
{% endblock %}
{% block bodyAdmin %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Profil</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                        <div class="profile_img">
                            <!-- end of image cropping -->
                            <div id="crop-avatar">
                                <!-- Current avatar -->
                                <div class="avatar-view" title="Change the avatar">
                                    <img alt="Embedded Image" src="data:image/png;base64,{{ images }}" class="img-responsive">
                                </div>
                                <!-- Cropping modal -->
                                <div class="modal fade" id="avatar-modal" aria-hidden="true" aria-labelledby="avatar-modal-label" role="dialog" tabindex="-1">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <form enctype="multipart/form-data" action="{{path('consulter_profil_admin')}}" method="POST" >
                                                <div class="modal-header">
                                                    <button class="close" data-dismiss="modal" type="button">&times;</button>
                                                    <h4 class="modal-title" id="avatar-modal-label">Change Avatar</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="avatar-body">

                                                        <!-- Upload image and data -->
                                                        <div class="avatar-upload">
                                                            {{form(Form)}}
                                                        </div>

                                                        <!-- Crop and preview -->
                                                        <div class="row">
                                                            <div class="col-md-9">
                                                            </div>
                                                            <div class="col-md-3">
                                                            </div>
                                                        </div>

                                                        <div class="row avatar-btns">
                                                            <div class="col-md-9">
                                                                <div class="btn-group">
                                                                </div>
                                                                <div class="btn-group">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <button class="btn btn-primary btn-block avatar-save" 

                                                                        type="submit">Done</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- <div class="modal-footer">
                                                                  <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
                                                                </div> -->
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.modal -->

                                <!-- Loading state -->
                                <div class="loading" aria-label="Loading" role="img" tabindex="-1"></div>
                            </div>
                            <!-- end of image cropping -->

                        </div>
                        <h3>{{app.user.nomUser}} {{app.user.prenomUser}}</h3>

                        <ul class="list-unstyled user_data">
                            <li><i class="fa fa-map-marker user-profile-icon"></i> Fédération Tunisienne de Tennis, Cité Nationale Sportive El Menzah 
                                B.P 350 Tunis 1004 
                            </li>

                            <li>
                                <i class="fa fa-briefcase user-profile-icon"></i> Departement : {{app.user.departementAdmin}}
                            </li>


                        </ul>

                        <a href="{{path('fos_user_change_password')}}" class="btn btn-success"><i class="fa fa-key" aria-hidden="true"></i>
                            Modifier Mot de passe</a>
                        <a href="{{path('modifier_profil_admin')}}" class="btn btn-success"><i class="fa fa-edit m-right-xs"></i>Modifier Profile</a>
                        <br />



                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-12">


                        <div class="" role="tabpanel" data-example-id="togglable-tabs">
                            <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Informations personnelle</a>
                                </li>
                                <li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Vue d'ensemble</a>
                                </li>
                                <li role="presentation" class=""><a href="#tab_content3" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">Paramètres généraux du compte</a>
                                </li>
                            </ul>
                            <div id="myTabContent" class="tab-content">
                                <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">

                                    <table style="width: 80%;font-size: large" class="table-striped table-hover">
                                        <tr>
                                            <td>
                                                <strong>Nom : </strong>   
                                            </td>
                                            <td>
                                                {{app.user.nomUser}} 
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong>Prenom : </strong>   
                                            </td>
                                            <td>
                                                {{app.user.prenomUser}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong>Age : </strong>   
                                            </td>
                                            <td>
                                                {{app.user.ageUser}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong>Telephone : </strong>   
                                            </td>
                                            <td>
                                                {{app.user.telUser}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong>Email : </strong>   
                                            </td>
                                            <td>
                                                {{app.user.email}}
                                            </td>
                                        </tr>
                                    </table>


                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">

                                    <!-- start user projects -->
                                    <table class="data table table-striped no-margin">
                                        <tr>
                                            <td>
                                                <strong><h4><b>Derniere connexion :</b></h4></strong>
                                            </td>
                                            <td>
                                                <strong><h4>{{app.user.lastLogin | date('d-m-Y')}}</h4></strong>
                                            </td>
                                    </table>
                                    <!-- end user projects -->

                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
                                    <table style="width: 80%;font-size: large" class="table-striped table-hover">
                                        <tr>
                                            <td>
                                                <strong>Identifiant : </strong>   
                                            </td>
                                            <td>
                                                {{app.user.username}} 
                                            </td>
                                        </tr>
                                    </table>             
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
